.contactName { 
    text-align: center;
    margin-top: 60px;
    font-size: 25px;
}

.callButton { 
    color: red;
    text-align: center;
    min-width: 60px;
    min-height: 20px;
}

.logoContainer { 
    display: grid;
}

.linkLogo { 
   display: flex;
   justify-content: center;
   gap: 35px;
   list-style: none;
}

.iconName {
   border: solid 2.5px black;
   border-radius: 100%;
   padding: 5px;
}

.iconName a { 
    text-decoration: none;
    font-size: 25px;
}
