.header { 
    text-align: center;
    margin-top: 80px;
    color: #4ec1ffff;
}

.container1 { 
    height: 250px;
}

.greeting { 
    margin-left: 70px;
    margin-top: 20px;
    animation: slideRight 1.5s ease forwards;
}

.introduction { 
    margin-left: 100px;
    margin-top: 10px;
    animation: slideRight1 1.5s ease backwards;
}

.mySpan { 
    color: #6eccff;
}

.role { 
    margin-left: 70px;
    margin-top: 10px;
    font-size: 25px;
    animation: slideRight 2s ease forwards;
}

.role2 { 
    font-weight: bold;
    animation: glowing-text 20s linear infinite;
    color: black;
}

.image { 
    width: 250px;
    margin-top: 2rem;
    margin-left: 37rem;
    border-radius: 50%;
    box-shadow: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); 
    animation: glowing 20s linear infinite; 
}

.image:hover { 
    cursor: pointer;
}

@keyframes slideRight { 
    0% { 
        transform: translateX(-100px);
        opacity: 0;
    } 100% { 
        transform: translateX(0px);
    }
}

@keyframes slideRight1 { 
    0% { 
        transform: translateX(-80px);
        opacity: 0;
    } 100% { 
        transform: translateX(0px);
    }
}

@keyframes glowing { 
    0% { 
        box-shadow: 0 0 5px #ff0000;
    }
    14% { 
        box-shadow: 0 0 20px #ff7300;
    }
    28% { 
        box-shadow: 0 0 20px #fffb00;
    }
    42% { 
        box-shadow: 0 0 20px #48ff00;
    }
    57% { 
        box-shadow: 0 0 20px #00ffd5;
    }
    71% { 
        box-shadow: 0 0 20px #002bff;
    }
    85% { 
        box-shadow: 0 0 20px #7a00ff;
    }
    100% { 
        box-shadow: 0 0 5px #ff00c8;
    }
}

@keyframes glowing-text { 
    0% { 
        text-shadow: 0 0 5px #ff0000;
    }
    14% { 
        text-shadow: 0 0 20px #ff7300;
    }
    28% { 
        text-shadow: 0 0 20px #fffb00;
    }
    42% { 
        text-shadow: 0 0 20px #48ff00;
    }
    57% { 
        text-shadow: 0 0 20px #00ffd5;
    }
    71% { 
        text-shadow: 0 0 20px #002bff;
    }
    85% { 
        text-shadow: 0 0 20px #7a00ff;
    }
    100% { 
        text-shadow: 0 0 5px #ff00c8;
    }
}

