.header { 
    text-align: center;
    margin-top: 80px;
    color: #4ec1ffff;
}

.gridContainer { 
    display: grid;
}

.container1 { 
    height: 250px;
}

.greeting { 
    margin-left: 75px;
    margin-top: 30px;
    animation: slideRight 1.5s ease forwards;
}

.introduction { 
    margin-left: 100px;
    margin-top: 10px;
    animation: slideRight 1.5s ease backwards;
}

.mySpan { 
    color: #6eccff;
    font-weight: bold;
}

.role { 
    margin-left: 125px;
    margin-top: 10px;
    font-size: 25px;
    animation: slideRight 2s ease forwards;
}

.role2 { 
    font-weight: bold;
    animation: glowingText 10s linear infinite;
}

.blinker { 
    
}

@keyframes glowingText { 
    0% { 
        color: red;
    } 25% { 
        color: green;
    } 50% { 
        color: blue;
    } 75% { 
        color: orange;
    } 100% { 
        color: red;
    }
}

@keyframes slideRight { 
    0% { 
        transform: translateX(-100px);
        opacity: 0;
    } 100% { 
        transform: translateX(0px);
    }
}

@keyframes hoverBounce { 
    0%, 100% { 
        transform: translateY(0);
    } 50% { 
        transform: translateY(-15px);
    }
} 

@keyframes glowing { 
      0% { 
        box-shadow: 3px 6px 20px #6eccff;
    } 50% { 
        box-shadow: 3px 6px 20px #ff0000ff;
    } 100% { 
        box-shadow: 3px 6px 20px #f2ff00ff;
    }
}

@keyframes blinking { 
    0% { 
        opacity: 1;
    } 50% { 
        opacity: 0;
    } 100% { 
        opactiy: 1; 
    }
}
    

