.header { 
    text-align: center;
    margin-top: 80px;
    color: #4ec1ffff;
}

.container1 { 
    height: 250px;
}

.greeting { 
    margin-left: 70px;
    margin-top: 20px;
    animation: slideRight 1.5s ease forwards;
}

.introduction { 
    margin-left: 100px;
    margin-top: 10px;
    animation: slideRight 1.5s ease backwards;
}

.mySpan { 
    color: #6eccff;
}

.role { 
    margin-left: 70px;
    margin-top: 10px;
    font-size: 25px;
    animation: slideRight 2s ease forwards;
}

.role2 { 
    font-weight: bold;
    animation: glowing-text 20s linear infinite;
}

.image { 
    width: 25vw;
    border-radius: 50%; 
    animation: glowing 20s linear infinite; 
    display: flex;
    margin: auto;
}

.image:hover { 
    cursor: pointer;
}

@keyframes slideRight { 
    0% { 
        transform: translateX(-100px);
        opacity: 0;
    } 100% { 
        transform: translateX(0px);
    }
}

@keyframes hoverBounce { 
    0%, 100% { 
        transform: translateY(0);
    } 50% { 
        transform: translateY(-20px);
    }
} 

@keyframes glowing { 
    0% { 
        box-shadow: 0 0 30px #6eccff
    } 50% { 
        box-shadow: 0 0 60px #ff0000ff
    } 100% { 
        box-shadow: 0 0 90px #f2ff00ff
    }
}
    

