.container { 
    display: flex;
    justify-content: space-around;
    height: 60px;
}

.logo { 
    margin-top: 20px;
    text-shadow: 2px 3px 4px black;
    animation: fadeIn 5s ease forwards, logoColorChange 10s infinite;
}

.link-list { 
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    animation: slideLeft 1.5s ease forwards;
}
.link-name:hover { 
   animation: bounce 1s infinite;  
}

.link-name { 
    color: #6eccff;
}

.link-name:hover {
    color: white;
    cursor: pointer;
}
@keyframes slideLeft { 
    from { 
        transform: translateX(100px);
        opacity: 0;
    } to { 
        transform: translateX(0px);
    }
}

@keyframes fadeIn { 
    0% { 
        opacity: 0;
    100% { 
        opacity: 1;
    }

  }
}

@keyframes logoColorChange { 
    0% { 
        color: #6eccff;
    } 50% { 
        color: #fff;
    } 75% { 
        color: #1c465dff;
    } 100% { 
        color: #6eccff;
    }
}

@keyframes bounce { 
    0%, 100% { 
        transform: translateY(-5px);
    } 50% { 
        transform: translateY(0);
    }
}

