.container { 
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
    height: 60px;
}

.logo { 
    margin-top: 20px;
    text-shadow: 2px 3px 4px black;
    color: white;
    animation: fadeIn 2s ease forwards;
}

.link-list { 
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    animation: slideLeft 1.5s ease forwards;
}

.link-name { 
    color: #6eccff;
}

.link-name:hover {
    color: white;
    cursor: pointer;
}
@keyframes slideLeft { 
    from { 
        transform: translateX(100px);
        opacity: 0;
    } to { 
        transform: translateX(0px);
    }
}

@keyframes fadeIn { 
    0% { 
        opacity: 0;
    100% { 
        opacity: 1;
    }

  }
}

