.radialContainer { 
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    justify-items: center;
    margin-top: 60px;
}

.radialCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radialBar { 
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 1px solid white;
}

.languageName { 
    text-align: center;
    margin-top: 90px;
}



.frameName { 
    text-align: center;
    margin-top: 90px;
    margin-bottom: 50px;
}

.bxl-javascript { 
    color: yellow; 
}