.gridContainerSkills { 
    display: grid;
    align-itesm: center;
}

.radialContainer { 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.progressBar { 
    color: black;
    background-color: black;
    animation: fillAnimation 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform-origin: left;
    transform: scaleX(1);
    width: 100%;
    height: 5px;
    margin-bottom: 35px;

}

.wrapper { 
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.radialCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radialBar { 
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 1px solid white;
}

.languageName { 
    text-align: center;
    margin-top: 90px;
}

.frameName { 
    text-align: center;
    margin-top: 90px;
    margin-bottom: 50px;
}

.bx { 
  font-size: 30px;
}

.bxl-javascript { 
    color: yellow;
}

.bxl-python { 
    color: orange;
}

.bxl-c-plus-plus { 
    color: #6eccff;
}

.bxl-java { 
    color: red;
}

.bxl-react { 
    color: #6eccff;
}

.bxl-nodejs { 
    color: #00ff00
}

.bxl-vuejs { 
    color: red;
}

.bxl-angular { 
    color: purple;
}

@keyframes fillAnimation { 
    0% { 
        width: 0;
}   100% { 
        width: 100%;
        background-color: black;
    }
}