.gridContainerSkills { 
    display: grid;
    align-items: center;
}

.barContainer { 
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.wrapper { 
    display: flex;
    justify-content: center;
    text-align: center;
}


.progressTrack { 
    color: #ccc;
    margin: 15px;
    min-width: 30%;
    min-height: 4px;
    overflow: hidden;
    width: auto;
    height: auto;
}

.progressFill { 
    background: black;
    animation: fillAnimation 1.5s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform-origin: left;
    transform: scaleX(1);
    height: 4px;
}

.languageName { 
    text-align: center;
    margin-top: 90px;
    margin-bottom: 50px;
}

.frameName { 
    text-align: center;
    margin-top: 90px;
    margin-bottom: 50px;
}

.bx { 
  font-size: 30px;
}

.bxl-javascript { 
    color: yellow;
}

.bxl-python { 
    color: orange;
}

.bxl-c-plus-plus { 
    color: #6eccff;
}

.bxl-java { 
    color: red;
}

.bxl-react { 
    color: #6eccff;
    height: 28px;
    animation: rotate 15s linear infinite 
}

.bxl-nodejs { 
    color: #00ff00;
    animation: glow 10s linear infinite;
}

.bxl-vuejs { 
    color: red;
}

.bxl-angular { 
    color: purple;
}

@keyframes fillAnimation { 
    0% { 
        width: 0;
}   100% { 
        background-color: black;
    }
}

@keyframes rotate { 
 0% { 
    transform: rotate(0deg);
   } 100% { 
    transform: rotate(360deg);
   }
}

@keyframes glow { 
    0% { 
        text-shadow: 5px 5px 100px #00ff00;
    }
}